style.css
body { margin: auto;
	width: 300px;
	text-align: center;
}

body{
	background-attachment: fixed;
	background-image: url(liberated.jpeg);
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover; 
}

h1, h2, h3, h4 {
	font-family: "arial", sans-serif;
	color: red;
}

h1, h2, h3, h4 {
	color: yellow 
	background-color 
}

p {
  background-color: #ee30a7;
  }

  li{
  	font-style: italic;
  	font-size: 1.5em;
  	font-size: 100%;
  }

  #google-potrait {
  	padding: 10px 15x 13px 15x; 

  }

 td, th {border-top: 30px solid #ff0000;
  	border-bottom: 30px solid #ff0000
  }

 table {
 	border-collapse: collapse;
 }